:root {
    --main-dark-blue:#3670C7;
    --main-light-blue:#38C0EB;
    --main-black:#2D2D2D;
    --main-white:#fff;
    --main-yellow:#FFBD13;
    --main-dark-pink:#F91155;
    --main-search-bg:#EFEFEF;
}
